[submodule "quickstart-aviatrix/submodules/quickstart-aws-vpc"]
	path = quickstart-aviatrix/submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = master
